body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}
h1 {
  margin-top: 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #0056b3;
}
#shortcuts-list {
  margin-top: 20px;
  width: 80%; /* 목록의 폭을 넓힘 */
  max-width: 800px; /* 최대 폭을 설정 */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f4f4f9;
  font-weight: bold;
}
.key-container {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
#message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  display: none;
}
.warning {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  display: none;
}
